<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img style="height: auto; width: 150px;" src="/static/img/Logo 1.png" alt="">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {{ home_stats }}">
            <a class="nav-link" href={% url 'home' %}>Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item  {{ buangsampah_stats }}">
            <a class="nav-link" href="{% url 'buangsampah:buangsampah' %}">Buang Sampah</a>
            </li>
            <li class="nav-item {{ faq_stats }}">
            <a class="nav-link" href={% url 'faq' %}>FAQ</a>
            </li>
            <li class="nav-item {{ tutorial_stats }}">
            <a class="nav-link" href={% url 'tutorial' %}>Tutorial</a>
            </li>
            <li class="nav-item {{ profile_stats }}">
                <a class="nav-link" href={% url 'accmgr:profile' %}>Profile</a>
            </li>
        </ul>
        </div>
    </div>
</nav>