h2,b{
    color: #155E63;
    font-weight: bold;
}
#kota-selector {
    margin-top: 10px;
}

#mapid {
    height: 360px;
    width: 100%;
}

form {
    width: 60%;
}

textarea {
    resize: none;
}

h3.success-msg {
    color: #155E63;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

h3.error-msg {
    color: red;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
#berat-sampah,#kategori-sampah,#provinsi,#kota-selector,#kecamatan-selector,#desa-selector{
    margin-bottom: 2%;
}



.isi{
    padding-left: 21%;
    padding-top: 2%;
    margin-bottom: 50px;
}

.col-form-label{
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px !important; 
    color: #155E63; 
    font-weight: 400;
    
}
.form-check-label{
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: black;
    font-weight: 400;
}
.header {
    background-color: #76B39D;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.header h1 {
    font-weight: bold;
    font-size: 72px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.form-control{
    width : 65% !important;
}
.form-check-input{
    position: relative !important;
}
button{
    width: 20%;
    background-color: #76B39D;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
.asteriskField{
    display: none;
}
@media only screen and (max-width: 992px){

    .header h1 {
        font-size: 60px;
    }
    .col-form-label{
        font-size: 36px !important;          
    }
    .form-check-label{
        font-size: 22px;
    }
    button{
        font-size: 16px;
    }

}
@media only screen and (max-width: 767px){

    .header h1 {
        font-size: 48px;
    }
    .col-form-label{
        font-size: 30px !important;          
    }
    .form-check-label{
        font-size: 20px;
    }
    button{
        font-size: 14px;
    }

}
@media only screen and (max-width: 497px){

    .header h1 {
        font-size: 36px;
    }
    .col-form-label{
        font-size: 24px !important;          
    }
    .form-check-label{
        font-size: 18px;
    }
    button{
        font-size: 12px;
    }

}
@media only screen and (max-width: 380px){

    .header h1 {
        font-size: 24px;
    }
    .col-form-label{
        font-size: 18px !important;          
    }
    .form-check-label{
        font-size: 16px;
    }
    button{
        font-size: 10px;
    }

}




