{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'new_navbar.html' with profile_stats='active' %}
{% endblock %}

{% block includedcss %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_page.css' %}">
{% endblock %}
    
{% block content %}
<div class="header">
    <div class="container">
        <h1>EDIT</h1>
    </div>
</div>

<body>
    
    <!-- Page Content Start -->
    <form action="post">
        <!-- <div class="banner">
            <div class="text-center">
                <h2>
                    <input type="text" name="name" maxlength="2147483647" required id="id_name" value={{ selaccount.name }}>
                </h2>
                <h2>{{ selaccount.name }}</h2> -->
            <!-- </div>
        </div> -->
    
        <h3>
            <div class="row profile-info">
                <div class="col-1 col-lg-2"></div>
                <div class="col-10 col-lg-8 row">
                    <div class="col-5 col-lg-4 label">
                        Pekerjaan
                    </div>
                    <div class="col-7 col-lg-8 data">
                        {{ selaccount.job }}
                    </div>
                    <div class="col-5 col-lg-4 label">
                        Tempat Tinggal
                    </div>
                    <div class="col-7 col-lg-8 data">
                        {{ selaccount.address }}
                    </div>
                    <div class="col-5 col-lg-4 label">
                        Dompetku
                    </div>
                    <div class="col-7 col-lg-8 data">
                        <h1>{{ balance }}</h1>
                    </div>
    
                    <div class="col-12" id="card-container">
                        <a href={{ link_riwayat }}><card id="left">Riwayat</card></a>
                        <a href={{ link_status }}><card id="right">Status Sampah</card></a>
                    </div>
                </div>
                <div class="col-1 col-lg-2">
                    <img src="https://image.flaticon.com/icons/svg/1159/1159633.svg" style="height: 30px;">
                </div>
            </div>
        </h3>
    </form>
    <!-- Page Content End -->

    {% endblock %}