{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'new_navbar.html' with profile_stats='active' %}
{% endblock %}

{% block includedcss %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_page.css' %}">
{% endblock %}
    
{% block content %}
<div class="header">
    <div class="container">
        <h1>RIWAYAT</h1>
    </div>
</div>

<h3>
    <div class="row profile-info" style="margin-top: 5vh;">
        <div class="col-1 col-lg-2"></div>
        <div class="col-10 col-lg-8 row" style="border-top-style: solid; padding: 0px;">
            
            {% for riwayat in list_riwayat %}
            <div class="col-12 row riwayat-container">
                <div class="col-8 col-lg-6">
                    <div class="riwayat-info">
                        <div id="jenis"><h2>{{ riwayat.jenis }}</h2></div>
                        <div id="berat" style="margin-top: 10px;"><h2>{{ riwayat.berat }} Kg</h2></div>
                        <div id="lokasi" style="margin-top: 30px;"><h6>{{ riwayat.lokasi }}</h6></div>
                    </div>
                </div>
                <div class="col-4 col-lg-6">
                    <div class="status-card"><card id="left">Accepted</card></div>
                </div>
            </div>
            {% endfor %}
                

            <div class="col-12" id="card-container">
                <a href="{% url 'accmgr:profile-id' owner %}"><card id="left">Kembali</card></a>
                <a href="{% url 'accmgr:status-id' owner %}"><card id="right">Status Sampah</card></a>
            </div>
        </div>
        <div class="col-1 col-lg-2"></div>
    </div>
</h3>
{% endblock %}
