h1, h2, h3, h4, h5, h6, p {
    font-family: 'Ubuntu', sans-serif;
}

card {
    padding: 30px 80px 30px 80px;
    margin-left: 30px;
    font-size: 16px;
    color: white;
}

card#left {
    background-color: #76B39D;
}

card#right {
    background-color: #155E63;
}

div.row {
    margin-left: 0px;
    margin-right: 0px;
}

#jenis h2 {
    color: #76B39D;
    font-weight: 500;
}

#berat h2 {
    color: black;
    font-weight: 500;
}

#lokasi {
    margin-bottom: 30px;
}

#card-container {
    margin-top: 200px;
}

#card-container a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

.riwayat-container {
    border-bottom-style: solid;
}

.riwayat-container div {
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

.riwayat-info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner {
    background-color: #76B39D;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.banner h2 {
    font-weight: bold;
    color: white;
}

.data {
    margin-top: 100px;
    color: #454545;
}

.header {
    background-color: #76B39D;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.header h1 {
    font-weight: bold;
    font-size: 72px;
    color: white;
}

.label {
    margin-top: 100px;
    color: #76B39D;
}

.profile-info {
    padding-top: 1vh;
    margin-bottom: 10vh;
}

.status-card {
    position: relative;
    transform: translate(0%, 100%);
    float: right;
}

.text-center {
    position: relative;
    transform: translate(0%, 100%);
    text-align: center;
}

@media (max-width: 800px) {
    .label {
        font-size: 24px;
    }

    .data {
        font-size: 24px;
    }

    .data h1 {
        font-size: 28px;
    }

    #card-container {
        margin-top: 50px;
    }
    
    card {
        padding: 10px 30px 10px 30px;
        margin-left: 0px;
        margin-right: 10px;
        font-size: 16px;
    }
}