{% load static %}
<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_faq.css' %}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <title>TRASH-IT</title>
</head>

<body>
    <!-- Navigation Bar -->
    {% include 'navbar.html' with faq_stats='active' %}

    
    <!-- Page Content Start -->
    <div class="header">
        <div class="container">
            <h1>FAQs</h1>
        </div>
    </div>

    <div class="container faq-block">
        <div class="faq-content">
            <h2>Kemana uang bayaran saya masuk?</h2>
            <p>
                Bayaran akan dikirim ke <strong style="color: #155E63;">Dompetku</strong> anda sesuai dengan
                tarif yang telah ditentukan oleh mitra kami berdasarkan jenis sampah
                dan berat sampah yang anda berikan
            </p>
        </div>

        <div class="faq-content">
            <h2>Bagaimana cara saya mendaftar sebagai mitra?</h2>
            <p>
                Jika anda adalah pemilik bank sampah, anda dapat mendaftarkan usaha anda
                dengan mengirim email ke <strong style="color: #155E63;">example@trash-it.com</strong> atau menghubung kami
                ke <strong style="color:#155E63">021 - 72911</strong>
            </p>
        </div>

        <div class="faq-content">
            <h2>
                Bagaimana jika sampah yang ingin saya buang
                tidak terdaftar di pilihan kategori sampah?
            </h2>
            <p>
                Anda dapat memilih pilihan lain-lain di list kategori sampah. Mitra kami akan
                menentukan harga yang tepat bagi jenis sampah yang ingin anda buang
            </p>
        </div>

        <div class="faq-content">
            <h2>Bagaimana cara menggunakan aplikasi ini?</h2>
            <p>
                Silahkan kunjungi <span><a href="/tutorial" style="color:#76B39D">Tutorial</a></span>
            </p>
        </div>
    </div>
    <!-- Page Content End -->

    <div class="cr">
        <p class="justify-content-center align-items-center" 
        style= "text-align: center; color: white;">TRASH-IT © 2019</p>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>