.centerized-div {
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: #76B39D;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.header h1 {
    font-weight: bold;
    font-size: 72px;
    color: white;
}
