{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'new_navbar.html' with register_stats='active' %}
{% endblock %}

{% block includedcss %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/register_page.css' %}">
{% endblock %}
{% block content %}

<div class="container">
    <h1 id="header-text"><b>REGISTER NEW MEMBER</b></h1>

    <form method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input class="form-control" type="text" placeholder="Your Username" id="username" name="username" required>

        {% if message_username != '' %}
            <p style="color: red;">{{ message_username }}</p>
        {% endif %}

        <label for="password">Password</label>
        <input class="form-control" type="password" placeholder="Your Password" id="password" name="password" required>

        {% if message_password != '' %}
            <p style="color: red;">{{ message_password }}</p>                
        {% endif %}

        <label for="first_name">First Name:</label>
        <input class="form-control" type="text" placeholder="Your First Name" id="first-name" name="first_name" required>
        
        <label for="last_name">Last Name:</label>
        <input class="form-control" type="text" placeholder="Your Last Name" id="last-name" name="last_name" required>
        <br>
        
        <button type="submit" class="btn btn-primary" id = button_submit>Submit</button>


    </form>
</div>


{% endblock content %}