{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'new_navbar.html' with login_stats='active' %}
{% endblock %}

{% block includedcss %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login_page.css' %}">
{% endblock %}

{% block content %}
<body>
<div class="container" id ="login-container">
    <h1 id="header-text"><b>LOGIN TO TRASH-IT</b></h1>

    <form method="POST">
        {% csrf_token %}        
        <label for="username">Username:</label>   
        <input class="form-control" type="text" placeholder="Your Username" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input class="form-control" type="password" placeholder="Your Password" id="password" name="password" required>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>

    {% if message != '' %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}
</div>
</body>


{% endblock content %}