{% extends 'base.html' %}
{% load static %}
    
{% block includedcss %}
<style>
#total-berat {
    margin-top: 40px;
}

#total-berat * {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

th div {
    margin-top: 20px;
}
</style>
{% endblock includedcss %}

{% block includedscript %}
<script src="{% static 'bngsampah/js/buang.js' %}"></script>

<script>
function onSubmit(params) {
    let select_provinsi = $('select#id_nama_provinsi');
    let select_kota = $('select#id_nama_kota');
    let select_kec = $('select#id_nama_kecamatan');
    let select_desa = $('select#id_nama_desa');
    let total_berat_container = $('#total-berat');
    let total_berat_field = $('#total-berat-field');
    let kategori_berat_field = {
        'Plastik' : $('#total-plastik-field'),
        'Kertas' : $('#total-kertas-field'),
        'Sisa Makanan' : $('#total-sisa-field'),
        'Logam' : $('#total-logam-field'),
        'Kaca' : $('#total-kaca-field'),
        'Lain-lain' : $('#total-lain-field'),
    };

    let lokasi_id = ''
    if (select_provinsi.val() != 'none') {
        lokasi_id = select_provinsi.val();
    }
    if (select_kota.val() != 'none') {
        lokasi_id = select_kota.val();
    }
    if (select_kec.val() != 'none') {
        lokasi_id = select_kec.val();
    }
    if (select_desa.val() != 'none') {
        lokasi_id = select_desa.val();
    }

    $.post(
        '/statistik/get_stats/',
        {'csrfmiddlewaretoken' : $('[name="csrfmiddlewaretoken"]').val(), 'lokasi_id' : lokasi_id},
        function (data, status) {
            console.log(data);
            let total_berat = 0;
            let kategori_berat = {
                'Plastik' : 0,
                'Kertas' : 0,
                'Sisa Makanan' : 0,
                'Logam' : 0,
                'Kaca' : 0,
                'Lain-lain' : 0,
            };
            data.forEach(element => {
                total_berat += element.berat_sampah;
                kategori_berat[element.kategori_sampah[0]] += element.berat_sampah;
            });
            console.log(total_berat);
            total_berat_container.css({
                'display' : 'flex'
            });
            total_berat_field.text(`${total_berat} kg`);

            for (const kategori in kategori_berat) {
                kategori_berat_field[kategori].text(`${kategori_berat[kategori]} kg`);
            }
        }
    );
    return false;
}
</script>
{% endblock includedscript %}
        
<!-- Navigation Bar -->
{% block navbar %}
{% include 'new_navbar.html' with statistik_stats='active' %}
{% endblock navbar %}

{% block content %}
<div class="header">
    <div class="container">
        <h1>Info Sampah</h1>
    </div>
</div>

<div class="centerized-div" style="margin: 50px 0px;">
    <div>
        <form action="{% url 'statsk:get' %}" onsubmit="return onSubmit();">
            {% csrf_token %}
            <div>
                <h2>Provinsi</h2>
                <select class="select-lokasi" name="nama_provinsi" id="id_nama_provinsi">
                    <option value="none">--</option>
                </select>
            </div>
            <div id="kota-selector">
                <h2>Kota / Kabupaten</h2>
                <select class="select-lokasi" name="nama_kota" id="id_nama_kota" disabled>
                    <option value="none">--</option>
                </select>
            </div>
            <div id="kecamatan-selector">
                <h2>Kecamatan</h2>
                <select class="select-lokasi" name="nama_kecamatan" id="id_nama_kecamatan" disabled>
                    <option value="none">--</option>
                </select>
            </div>
            <div id="desa-selector">
                <h2>Kelurahan / Desa</h2>
                <select class="select-lokasi" name="lokasi_id" id="id_nama_desa" disabled>
                    <option value="none">--</option>
                </select>
            </div>
    
            <div style="margin-top: 20px;">
                <input type="submit" value="Search">
            </div>
        </form>
    
        <div id="total-berat" style="" class="centerized-div">
            <table>
                <tr>
                    <th><div style="width: 20vw;"><h2>Total Berat</h2></div></th>
                    <td><div style="width: 50vw;"><h4 id="total-berat-field"></h4></div></td>
                <tr>
                    <th><div style="width: 20vw;"><h2>Plastik</h2></div></th>
                    <td><div style="width: 50vw;"><h4 id="total-plastik-field"></h4></div></td>
                </tr>
                <tr>
                    <th><div style="width: 20vw;"><h2>Kertas</h2></div></th>
                    <td><div style="width: 50vw;"><h4 id="total-kertas-field"></h4></div></td>
                </tr>
                <tr>
                    <th><div style="width: 20vw;"><h2>Sisa Makanan</h2></div></th>
                    <td><div style="width: 50vw;"><h4 id="total-sisa-field"></h4></div></td>
                </tr>
                <tr>
                    <th><div style="width: 20vw;"><h2>Logam</h2></div></th>
                    <td><div style="width: 50vw;"><h4 id="total-logam-field"></h4></div></td>
                </tr>
                <tr>
                    <th><div style="width: 20vw;"><h2>Kaca</h2></div></th>
                    <td><div style="width: 50vw;"><h4 id="total-kaca-field"></h4></div></td>
                </tr></div>
                <tr>
                    <th><div style="width: 20vw;"><h2>Lain-lain</h2></div></th>
                    <td><div style="width: 50vw;"><h4 id="total-lain-field"></h4></div></td>
                </tr>
            </table>
            <!-- <h2>Total Berat : </h2><h2 id="total-berat-field"></h2> -->
        </div>
    </div>
</div>
{% endblock content %}
    