h1, h2, h3, h4, h5, h6, p {
    font-family: 'Ubuntu', sans-serif;
}
.welcome{
    text-align: center;
    color: #76B39D;
    font-weight: bold;
    padding-top: 25%;
    padding-bottom: 25%;
    font-size: 72px;
}
.contentA{
    /* position: absolute; */
    position: relative;
    width: 95%;
    margin: 3%;
    padding: 5%;
    border: 10px solid #76B39D;
    border-radius: 50px;
}
.apaitu{
    font-size: 72px;
}
.trashit{
    color: #76B39D;
    font-weight: normal;
    font-size: 72px;
}
.logo-a{
    width: 300px;
    height: auto;
    margin-top: -28%;
    margin-left: 73%;
}
.desc-apa{
    margin-top: 4%;
    font-size: 24px;
}
.contentB{
    text-align: right;
    position: relative;;
    width: 95%;
    margin: 3%;
    padding: 5%;
    margin-top: 10%;;
    border: 10px solid #76B39D;
    border-radius: 50px;
}
.mengapa{
    font-size: 72px;
}
.logo-b{
    width: 450px;
    height: auto;
    margin-right: 70%;
    margin-top: -28%;
}
.desc-mengapa{
    text-align: left;
    margin-left: 70%;
    margin-top: 4%;
    font-size: 24px;
}
.desc-button{
    margin-top: 20%;
    font-size: 32px;
}
.btn-lg{
    margin-top: 3%;
    font-size: 36px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #76B39D;
    background-color: #76B39D;
}
.btn-lg:hover{
    border-color: #155E63;
    background-color: #155E63;
}
.btn-lg:focus {
    border-color: #155E63;
    /* background-color: #76B39D; */
    background: #155E63;
}
.contact{
    width: 75%;
    margin-top: 20%;
    margin-left: 3%;
    font-size: 72px;
    font-weight: bold;
}
.info{
    width: 75%;
    margin-left: 9%;
}

@media (max-width: 1024px) {
.apaitu{
    text-align: center;
    font-size: 48px;
}
.trashit{
    text-align: center;
    font-size: 48px;
}
.desc-apa{
    text-align: center;
    font-size: 16px;
}
.mengapa{
    text-align: center;
    font-size: 48px;
}
.desc-mengapa{
    text-align: center;
    margin: auto;
    font-size: 16px;
}
.logo-a{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: auto;
}
.logo-b{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}
.desc-button{
    font-size: 20px;
}
.btn-lg{
    font-size: 20px;
    padding: auto;
}
.contact{
    font-size: 48px;
}
.info{
    font-size: 24px;
}
}