{% load static %}
<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Added CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/Logo 3.png' %}" />
    {% block includedcss %}
        
    {% endblock %}
    
    <!-- Head Script -->
    {% block includedscript %}
        
    {% endblock %}
        
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <title>
    {% block title %}
        TRASH-IT
    {% endblock %}
        </title>
</head>

<body>
    {% block bodystart %}
    
    {% endblock bodystart %}
    
    <!-- Navigation Bar -->
    {% block navbar %}
        
    {% endblock %}
        
    
    <!-- Page Content Start -->
    <div id="content">
        {% block content %}
            
        {% endblock %}
    </div>
    <!-- Page Content End -->



    <!-- Optional JavaScript -->
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- ajax -->
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    
    
    {% block bodyend %}
        
    {% endblock %}
        
</body>

</html>