{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'new_navbar.html' with tutorial_stats='active' %}
{% endblock %}

{% block includedcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_tutorial.css' %}">
{% endblock %}
    
{% block content %}
<div class="header">
    <div class="container">
        <h1>TUTORIAL</h1>
    </div>
</div>

<div class="container faq-block"> 
    <div class="faq-content">
        <h2>1. DAFTARKAN DIRIMU DI WEBSITE KAMI</h2>
        <p>
            Dengan bergabung bersama kami, kamu bisa ikut andil dalam 
            mewujudkan dunia yang lebih baik dari sebelumnya.
        </p>
    </div>

    <div class="faq-content">
        <h2>2. DAFTARKAN SAMPAHMU</h2>
        <p>
            Pengguna dapat mendaftarkan berat dan jenis 
            sampahnya, lalu menunggu konfirmasi penjemputan oleh mitra kami.
            <br>
            Pendaftaran dapat melalui halaman
            <span><a href="#" style="color: #76B39D;">Buang Sampah</a></span>
        </p>
    </div>

    <div class="faq-content">
        <h2>3. PENJEMPUTAN GRATIS</h2>
        <p>
            Mitra kami akan datang untuk mengambil 
            sampah sesuai konfirmasi tempat dan tanggal penjemputan.
        </p>
    </div>

    <div class="faq-content">
        <h2>4. DAPATKAN UANG</h2>
        <p>
            Pengguna akan mendapatkan uang dari sampah yang mereka buang dan akan tersimpan di
            <b style="color: #155E63;">Dompetku</b>.
        </p>
    </div>
</div>
{% endblock %}
    