{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
    
{% block includedcss %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<link rel = "stylesheet" type = "text/css"  href= "{% static 'style.css' %}"> 
{% endblock includedcss %}

{% block includedscript %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script src="{% static 'bngsampah/js/buang.js' %}"></script>
<script src="{% static 'bngsampah/js/mapping.js' %}"></script>
<script src="{% static 'bngsampah/js/popup.js' %}"></script>
{% endblock includedscript %}
        
<!-- Navigation Bar -->
{% block navbar %}
{% include 'new_navbar.html' with buangsampah_stats='active' %}
{% endblock navbar %}

{% block content %}
<div class="header">
    <div class="container">
        <h1>Ayo Buang Sampah!</h1>
    </div>
</div>

<div class="centerized-div" style="margin-top: 30px;">
    
    {% if success %}
    <h3 class="success-msg">
        {{ success }}
    </h3>
    {% endif %}
    {% if error %}
    <h3 class="error-msg">
        {{ error }}
    </h3>
    {% endif %}
        
</div>

<div class="centerized-div" style="margin-bottom: 50px;">
    <form method="post">
        {% csrf_token %}
        <div id = "berat-sampah">
            <div><h2>Berat Sampah</h2></div>
            <div>{{ form.berat_sampah }} <b style="font-size: x-large;">Kg</b></div>
        </div>

        <div id = "kategori-sampah">
            <div><h2>Kategori Sampah</h2></div>
            <div>{{ form.kategori_sampah }}</div>
        </div>
        <div id = "provinsi">
            <h2>Provinsi</h2>
            <select class="select-lokasi" name="nama_provinsi" id="id_nama_provinsi">
                <option value="none">--</option>
            </select>
        </div>
        <div id="kota-selector">
            <h2>Kota / Kabupaten</h2>
            <select class="select-lokasi" name="nama_kota" id="id_nama_kota" disabled>
                <option value="none">--</option>
            </select>
        </div>
        <div id="kecamatan-selector">
            <h2>Kecamatan</h2>
            <select class="select-lokasi" name="nama_kecamatan" id="id_nama_kecamatan" disabled>
                <option value="none">--</option>
            </select>
        </div>
        <div id="desa-selector">
            <h2>Kelurahan / Desa</h2>
            <select class="select-lokasi" name="lokasi_id" id="id_nama_desa" disabled>
                <option value="none">--</option>
            </select>
        </div>
        <div>
            <h2>Alamat</h2>
            {{ form.lokasi_text }}
        </div>
        <div>
            <div id="mapid"></div>
        </div>
        <button style="margin-top: 10px;" type = "submit" id =button_submit >SUBMIT</button>
    </form>
</div>
{% endblock content %}
    