h1, h2, h3, h4, h5, h6, p {
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-weight: bold;
}

#header-text {
    text-align: center;
    margin-top: 70px;
    color: #155E63;
}

@media (max-width: 768px){

    #header-text {
        font-size: 24pt;
    }

}