{% extends 'base.html' %}
{% load static %}

{% block includedcss %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/logout_page.css' %}">
{% endblock %}

{% block content %}

<div class="container" id="logout-container">
    <h1 id="header-text"><b>Are you sure want to logout?</b></h1>
    <br>
    <br>

    <div class="row justify-content-center">
        <a href="{% url 'home' %}" class="btn btn-primary btn-logout">&nbsp;&nbsp;No&nbsp;&nbsp;</a>
        
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-light btn-logout" name="logout">&nbsp;&nbsp;Yes&nbsp;&nbsp;</button>
        </form>
    </div>
</div>


{% endblock content %}